/* Add this CSS code to your existing ForgotPassword.css file or create a new one */

body {
    margin: 0;
    padding: 0;
    font-family: 'Cambria', sans-serif;
    /* Change to your preferred font */
}

.bg-primary {
    background-color: #2F8576 !important;
}

.bg-white {
    background-color: #FFFFFF;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.vh-100 {
    height: 100vh;
}

.p-3 {
    padding: 1rem;
}

.rounded {
    border-radius: 10px;
}

.w-50 {
    width: 50%;
}

.mb-3 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    /* Adjust the font size as needed */

}

.form-control {
    border-radius: 0;
    font-size: 1.2rem;
    /* Adjust the font size as needed */

}

.text-danger {
    color: #b62c2c;
}

.btn-success {
    background-color: #2F8576;
    color: #FFFFFF;
}

.green-btn {
    background-color: #2F8576 !important;
    color: #FFFFFF !important;
    border: none;
}

.green-btn:hover {
    background-color: #FFD3E6 !important;
    color: #2F8576 !important;
    transition: 0.3s;

}