body {
  background-color: #2F8576;
  color: #f57575;
  font-family: Arial, sans-serif;
}


.profile-container {
  width: 1000px;
  padding: 20px;
  border: 10px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-left: 200px;
}

.profile-header {
  text-align: center;
  margin-bottom: 20px;

}

h1,
h2,
h3,
p {
  color: #2F8576;
}